.u-block-39e7-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-39e7-3 {
  position: absolute;
  left: 0;
}

.u-block-39e7-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/alaqsha3.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 700px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 100vh;
  }
}

 .u-section-1-2 {
  background-image: url("images/Desaintanpajudul1.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 700px;
}

 .u-section-1-3 {
  background-image: url("images/rowojomborimg.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 700px;
}

 .u-section-1-4 {
  background-image: url("images/bukitcintaimg.png");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 700px;
}.u-section-2 .u-sheet-1 {
  min-height: 511px;
}

.u-section-2 .u-image-1 {
  height: 670px;
  transition-duration: 0.25s;
  margin-top: -747px;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 503px;
  height: 258px;
  transition-duration: 1s;
  margin: -300px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 169px auto 0;
}

.u-section-2 .u-image-3 {
  width: 169px;
  height: 169px;
  background-image: url("images/credit_img_9.JPG");
  background-position: 50% 50%;
  margin: 40px auto 0;
}

.u-section-2 .u-image-4 {
  width: 169px;
  height: 169px;
  background-image: url("images/credit_img_21.JPG");
  background-position: 50% 0%;
  margin: -169px auto 0 67px;
}

.u-section-2 .u-image-5 {
  width: 169px;
  height: 169px;
  background-image: url("images/credit_img_51.JPG");
  background-position: 50% 7.61%;
  margin: -169px auto 0 276px;
}

.u-section-2 .u-image-6 {
  width: 169px;
  height: 169px;
  background-image: url("images/credit_img_14.JPG");
  background-position: 50% 34.78%;
  margin: -169px 277px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 169px;
  height: 169px;
  background-image: url("images/credit_img_10.JPG");
  background-position: 50% 39.85%;
  margin: -169px 68px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 40px 910px 0 73px;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  margin: -72px 701px 0 282px;
}

.u-section-2 .u-text-4 {
  width: 157px;
  font-weight: normal;
  margin: -72px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: normal;
  margin: -48px 283px 0 701px;
}

.u-section-2 .u-text-6 {
  font-weight: normal;
  margin: -36px 68px 0 904px;
}

.u-section-2 .u-text-7 {
  font-weight: normal;
  margin: 52px 340px 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: normal;
  margin: -21px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: normal;
  margin: -21px 110px 0 auto;
}

.u-section-2 .u-text-10 {
  font-weight: normal;
  margin: -21px auto 0 308px;
}

.u-section-2 .u-text-11 {
  font-weight: normal;
  margin: -21px auto 50px 101px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -700px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -302px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 94px;
  }

  .u-section-2 .u-image-4 {
    margin-left: -3px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 191px;
  }

  .u-section-2 .u-image-6 {
    margin-right: auto;
    margin-left: 579px;
  }

  .u-section-2 .u-image-7 {
    margin-right: auto;
    margin-left: 774px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 783px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 580px;
    margin-left: 203px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 192px;
    margin-left: 593px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -48px;
    margin-right: 0;
    margin-left: 771px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 64px;
    margin-right: auto;
    margin-left: 643px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: auto;
    margin-left: 816px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 223px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -22px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -624px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -285px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 372px;
    margin-left: 451px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -501px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: 163px;
    margin-left: 101px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 163px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 451px;
  }

  .u-section-2 .u-text-2 {
    width: 157px;
    margin-top: -644px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 260px;
    margin-right: 457px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 110px;
    margin-left: 453px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 284px;
    margin-right: 458px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 146px;
    margin-left: 489px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 10px;
    margin-left: 164px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -329px;
    margin-left: 483px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 287px;
    margin-left: 493px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -329px;
    margin-left: 132px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -353px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-image-1 {
    height: 519px;
    width: 320px;
    margin-top: -433px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 179px;
    width: 348px;
    margin-top: -255px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 404px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -521px;
    margin-left: 186px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 183px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 50px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -164px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -659px;
    margin-left: 192px;
    margin-right: 192px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 270px;
    margin-right: 333px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 56px;
    margin-left: 327px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 327px;
    margin-left: 57px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 97px;
    margin-left: 368px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 110px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 78px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 91px;
    margin-left: 361px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 82px;
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: -342px;
    margin-left: 219px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-2 .u-image-1 {
    height: 535px;
    width: 330px;
    margin-top: -659px;
  }

  .u-section-2 .u-image-2 {
    height: 184px;
    width: 539px;
    margin-top: -267px;
    margin-left: -100px;
    margin-right: -100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 257px;
  }

  .u-section-2 .u-image-3 {
    width: 139px;
    height: 139px;
    margin-top: 644px;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    width: 139px;
    height: 139px;
    margin-top: -743px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    width: 139px;
    height: 139px;
    margin-top: 163px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    width: 139px;
    height: 139px;
    margin-top: 441px;
    margin-left: auto;
  }

  .u-section-2 .u-image-7 {
    width: 139px;
    height: 139px;
    margin-top: 139px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 156px;
    margin-top: -1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 157px;
    margin-top: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 157px;
    margin-top: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: 156px;
    margin-top: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: 83px;
    margin-top: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: -268px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: -299px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    width: 107px;
    margin-top: 535px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: -856px;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: -323px;
    margin-left: auto;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.5) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.5) !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}