/* :root {

} */
body{
    background-color: rgb(22, 212, 212);
    margin: 0px;
    padding: 0px;
}

#block {
  cursor: pointer;
  transition: transform 1.5s, opacity 1.5s, top 1.5s, left 1.5s;
}

#text {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: transform 1.5s, opacity 1.5s, top 1.5s, left 1.5s;
}