.bayat {
position:absolute;
top: 100px;
left: 600px;
}
.cawas {
    position:absolute;
    top: 1000px;
}
.ceper {
    position:absolute;
    top: 1000px;
}
.delanggu {
    position:absolute;
    top: 1000px;
}
.gantiwarno {
    position:absolute;
    top: 1000px;
}
.jatinom {
    position:absolute;
    top: 1000px;
}
.jogonalan {
    position:absolute;
    top: 250px;
    left: 60px;
}
.juwiring {
    position:absolute;
    top: 1000px;
}
.kalikotes {
    position:absolute;
    top: 1000px;
}
.karanganom {
    position:absolute;
    top: 1000px;
}
.karangdowo {
    position:absolute;
    top: 1000px;
}
.karangnongko {
    position:absolute;
    top: 140px;
    left: 80px;
}
.kebonarum {
    position:absolute;
    top: 175px;
    left: 120px;
}
.kemalang {
    position:absolute;
}
.klaten-selatan {
    position:absolute;
    top: 1000px;
}
.klaten-tengah {
    position:absolute;
    top: 1000px;
}
.klaten-utara {
    position:absolute;
    top: 1000px;
}
.manisrenggo {
    position:absolute;
    top: 190px;
    left: 48px;
}
.ngawen {
    position:absolute;
    top: 1000px;
}
.pedan {
    position:absolute;
    top: 1000px;
}
.polanharjo {
    position:absolute;
    top: 1000px;
}
.prambanan {
    position:absolute;
    top: 290px;
    left: 60px;
}
.trucuk {
    position:absolute;
    top: 1000px;
}
.tulung {
    position:absolute;
    top: 1000px;
}
.wedi {
    position:absolute;
    top: 1000px;
}
.wonosari {
    position:absolute;
    top: 1000px;
}
