
.bayat {
    position: absolute;
    top: 0px;
    left: 0px;
}
.cawas {
    position: absolute;
    top: 0px;
    left: 0px;
}
.ceper {
    position: absolute;
    top: 0px;
    left: 0px;
}
.delanggu {
    position: absolute;
    top: 0px;
    left: 0px;
}
.gantiwarno {
    position: absolute;
    top: 0px;
    left: 0px;
}
.jatinom {
    position: absolute;
    top: 0px;
    left: 0px;
}
.jogonalan {
    position: absolute;
    top: 0px;
    left: 0px;
}
.juwiring {
    position: absolute;
    top: 0px;
    left: 0px;
}
.kalikotes {
    position: absolute;
    top: 0px;
    left: 0px;
}
.karanganom {
    position: absolute;
    top: 0px;
    left: 0px;
}
.karangdowo {
    position: absolute;
    top: 0px;
    left: 0px;
}
.karangnongko {
    position: absolute;
    top: 0px;
    left: 0px;
}
.kebonarum {
    position: absolute;
    top: 0px;
    left: 0px;
}
.kemalang {
    position: absolute;
    width: 750px;
    height: 750px;
}
.klaten-selatan {
    position: absolute;
    top: 0px;
    left: 0px;
}
.klaten-tengah {
    position: absolute;
    top: 0px;
    left: 0px;
}
.klaten-utara {
    position: absolute;
    top: 0px;
    left: 0px;
}
.manisrenggo {
    position: absolute;
    top: 0px;
    left: 0px;
}
.ngawen {
    position: absolute;
    top: 0px;
    left: 0px;
}
.pedan {
    position: absolute;
    top: 0px;
    left: 0px;
}
.polanharjo {
    position: absolute;
    top: 0px;
    left: 0px;
}
.prambanan {
    position: absolute;
    top: 0px;
    left: 0px;
}
.trucuk {
    position: absolute;
    top: 0px;
    left: 0px;
}
.tulung {
    position: absolute;
    top: 0px;
    left: 0px;
}
.wedi {
    position: absolute;
    top: 0px;
    left: 0px;
}
.wonosari {
    position: absolute;
    top: 0px;
    left: 0px;
}
